// colors 
$dark-blue: hsl(209, 23%, 22%);
$very-dark-blue: hsl(207, 26%, 17%);
$dark-gray: hsl(0, 0%, 52%);
$light-gray: hsl(240, 2%, 91%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$navbar-shadow: 0 1px 5px rgba(122, 131, 141, 0.8);
