@use './variables';

.search {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 1.5rem;
    width: 80%;
}

.search__input {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 90%;
    background-color: variables.$white;
    padding: 20px;
    border-radius: 5px;

    input {
        border: none;
        outline: none;
        max-width: 90%;
    }
}

.search__select {
    margin-top: 10px;
    align-self: flex-start;
    background-color: variables.$white;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    
    select {
        border: none;
        position: relative;
        outline: none;
        width: 100%;
        cursor: pointer;
         
    }
}

@media (min-width: 415px) {
    .search {
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        width: 95%;
        margin: 40px auto;
        max-width: 1200px;
    }

    .search__input {
        width: 50%;
        padding: 1rem;
        border-radius: 5px;

        input {
            border: none;
            outline: none;
            width: 100%;
            overflow: hidden;
        }

        img {
            cursor: pointer;
        }

        picture:hover {
            background-color: variables.$light-gray;
            border-radius: 50%;
            padding: 5px;
            object-fit: cover;
        }
    }
    
    .search__select {
        border: none;
        position: relative;
        outline: none;
        width: 15%;
        cursor: pointer;

        option {
            border: transparent;
            position: absolute;
            top: 150px;
            width: 100%;
        }
    }
}
