@use './styles/variables';
:root {
  --bg-color: #f2f2f2;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div[data-theme="dark"] {
  // --bg-color: #333;
  // --text-color: #f2f2f2;
  background-color: variables.$dark-background;
  color: variables.$dark-text;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: variables.$light-background;
  font-size: 14px;
}

.dark__mode {
  background-color: variables.$dark-background;
}
